body{
  display: flex;
  justify-content: center;
}

#links{
  color: black;
  text-decoration: none;
}

#link-div{
  background-color: #2f4f4f;
  border: 1px solid black;
  border-radius: 5%;
  color: white;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-bar {
  display: flex;
  justify-content: center;
  margin: 0-9999rem;
  background-color: black;
  color: white;
}

#all-ships-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#starship-details {
  background-color: #2f4f4f;
  border: 1px solid black;
  border-radius: 5%;
  color: white;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  width: 800px;
  height: 700px;
}
